

.panel-title > a span:after
{
    display: none;
}

.glyphicon-plus:before
{
    position: relative;
    left: 38px;
}

.bodybg
{
    background-color: #375e6c;
}

#adminheader
{
    background: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header-radius
{
    border-radius: 37px;
}

.text-center
{
    text-align: center;
}

.h3margin
{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.h3m1
{
    margin-top: 5px;
}

@media (max-width:991px)
{
    .msgheight
    {
        min-height: 560px;
    }
    .picposition
    {
        float: none;
        width: 100%;
    }
    .imgcenter
    {
        margin-left: auto;
        margin-right: auto;
    }
    .subcenter
    {
        text-align: center;
    }
}

.list-group-item:first-child
{
    height: 192px;
}

@media (max-width:479px)
{
    .list-group-item:first-child
    {
        height: 343px;
    }
    .bigtitlesizesm
    {
        font-size: 17px;
    }
}

.minh
{
    min-height: 1000px;
}

.dater
{
    color: #efe1e1;
}

