
.list-group-item:first-child
{
    height: 268px;
    margin-bottom: 44px;
}

@media (max-width:479px)
{
    .list-group-item:first-child
    {
        height: 393px;
    }
}

.panelbg
{
    background-color: #294a56;
}

.margin30
{
    margin-bottom: 30px;
}

.delh
{
    font-weight: 700;
    font-size: 2.5em;
    color: #5d87d1;
}

@media (max-width:767px)
{
    .webbbody
    {
        background: white;
        height: 2163px;
    }
}

.labelsize1
{
    font-size: 1.4em;
}

@media (max-width:767px)
{
    .labelsm
    {
        text-align: center;
        font-size: 2em;
    }
}

@media (min-width:768px)
{
    .topspacesm
    {
        padding-top: 32px;
    }
}

@media (max-width:767px)
{
    .delbgsm
    {
        height: 238px;
    }
}

@media (min-width:768px)
{
    .marginlge
    {
        margin-top: 32px;
    }
}

@media (max-width:767px)
{
    .marginsm
    {
        margin-top: 13px;
    }
}

@media (min-width:768px)
{
    .webbody
    {
        height: 1202px;
        background: white;
    }
}

@media (max-width:479px)
{
    .btnleftxs
    {
        left: -15px;
    }
}

.margin
{
    margin-top: 32px;
}

@media (max-width:479px)
{
    .makeadminsm
    {
        height: 280px;
        background: transparent;
        border: none;
    }
}

#usrlist, #usrlist2, #usrlist3, #usrlist4, #usrlist5, #usrlist0
{
    position: absolute;
    margin: 0;
    z-index: 100;
    width: 92%;
    background: white;
    left: 17px;
}

.usrlist, .usrlist2, .usrlist3, .usrlist4, .usrlist5, .usrlist5
{
    padding-left: 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;


}

.ulist, .ulist2, .ulist3, .ulist4, .ulist0
{
    padding: 10px;
    margin: 0;
}

.ulist:hover, .ulist2:hover, .ulist3:hover, .ulist4:hover, .ulist5:hover, .ulist0:hover
{
    background: #bed5d3;
}