

.read
{
    background-color: #eddfdf;
}

.unread
{
    background-color: #878787;
    color: #f1e9f3;
}

.unreadtext
{
    font-weight: 800;
    color: #32d5c2;
}

.unreadlink
{
    color: #2f0f6c;
    font-weight: 900;
    font-size: 20px;
}

.readtext
{
    font-weight: 800;
    color: #bb6464;
}

.readlink
{
    font-weight: 800;
    font-size: 20px;
    color: #807a7a;
}

#intro15
{
    background-image: url('/images/tech.png');
}

.headshade
{
    background: black; 
    opacity: 0.6;
}
.inboxwhitewrap
{
    word-wrap: break-word;
}

#diffcontent
{
    background: white; 
    height: 700px; 
    margin-bottom: 20px;
}
.greygrey
{
    border: 2px solid grey;
}
.marbot20
{
    margin-bottom: 20px;
}
.profheadcleanup
{
    text-align: center; 
    margin-top: 26px;
}
.marleft20
{
    margin-left: 20px;
}

.msgh4
{
    text-align: center; 
    margin-top: 26px;
}