

.bgblue
{
    background: #425cbb;
}

.teamheader
{
    margin-bottom: 90px;
    color: white;
    font-weight: 900;
    font-size: 4em;
}

.nameheader
{
    color: #2dd12a;
    font-weight: bold;
}

.nameheadersize
{
    font-size: 4em;
}

.namebg
{
    color: #27cbb0;
}

#content4 .feautures-box
{
    background-color: #6e2211;
}

@media (min-width:320px)
{
    #content4 .feautures-box
    {
        padding-left: 0;
        min-width: 240px;
        max-width: 240px;
    }
}

.teamimg
{
    /* background-image:url('/images/5.jpg'); */
}

.teamimg2
{
    background-image:url('/images/team.png');
}